create database huongtram

use huongtram


create table Product (
id varchar(10) primary key,
name nvarchar(50),price int, img varchar(200), sl int, 
cateID varchar(10) foreign key references Category(id))

create table Category (id varchar(10) primary key,
name nvarchar(50))

insert into Product values ('1',N'Hương nén thảo mộc', 10000,N'img/HUONGNEN/huongnen1.jpg', '10', '1' )
insert into Product values ('2',N'Hương sào thảo mộc', 20000,N'img/HUONGNEN/huongsaotm.jpg', '10', '1' )
insert into Product values ('3',N'Hương vòng thảo mộc', 50000,N'img/HUONGNEN/huongvongtm.jpg', '10', '1' )






insert into Category values ('1', N'Hương nén TM')
insert into Category values ('2', N'Hương nén trầm')
insert into Category values ('3', N'Trầm nụ')

select* from Product
SELECT* from Category

Select* from Product 
where cateID = '1'

Select* from Product 
where id = '1'

create table Accounts (id int,
users nvarchar(50)primary key not null,
pass varchar(30) not null,
isSell int,
isAdmin int)

insert into Accounts values ('1', N'admin', 'admin', '0', '1')
insert into Accounts values ('2', N'abc', 'abc', '1', '0')

select* from Accounts
where users ='admin'
and pass='admin'

insert into Accounts
values(0,'mrc','123')


delete from Product
 where id = '15'
 
 update Product
 set [name] = 'ooo',
 price ='1234',
 img='fewfe',
 sl='12',
 cateID ='4'
 where id=15
 
 
